body{
    background-image: url(../images/i_i.jpg);
    padding-right: 50px;
    
   
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:white;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 48px;
    text-shadow: 2px 2px 5px black;
}
h2{
    text-align: center;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.card-body{
    color:white;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.form-group{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    
  }
p{
    font-weight: bolder;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: wheat;
}
  
